body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 16px;
    background: linear-gradient(21deg, rgba(38,26,236,1) 0%, rgba(98,98,250,1) 46%, rgba(93,228,255,1) 100%);
    border-radius: 10px;
    width: 50%;
    margin: 15px auto;
}

input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 20px;
}

#registerbtn {
    background-color: #b1b1ff;
    font-size: 25px;;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

#registerbtn:hover {
    opacity: 1;
}

a {
    color: #bdbdcc;
}

#wpwd{
    font-size: 12px;
    color: #ff8282;
    display: none;
    margin-bottom: 20px;
}
#success{
    font-size: 15px;
    color: #3eec3e;
    display: none;
}